* {

    padding: 0px;
    margin: 0px;
}



header{

    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;
    font-size: 45px;
    font-family: Passion one;

}

header h3 {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

P {

    font-family: Sriracha;
    font-size: 1.3em;
}

.poema1{
    
    padding: 40px;


}

 div{

   
    padding: 40px;
    font-family: Sriracha;
    font-size: 1.3em;
    border: 2px solid red;



    
}

