@charset "UTF-8";

body{
    background-color: rgba(217, 153, 16, 0.825);
    font-family: Arial, Helvetica, sans-serif;
    /*tudo em html que é id em css é #
    tudo em html que for class em css é .*/
}

h1#principal {

    text-align: center;
    background-color: rgb(217, 16, 190);
    margin: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 3px rgb(230, 228, 239);
    width: auto;
}

h1{
    color: rgba(7, 13, 13, 0.656);    
       
}
.basicohtml{

    color:rgb(170, 32, 94) ;
}

.intermediarioo{

    color: rgb(164, 136, 100);
}


.avancado{

    color: rgb(9, 240, 59);
    font-weight: bold;
}

.basico{
    color:gold;
}

.intermediario{
    color: blue;

}

